body {  
    font-family: Arial, sans-serif;  
    background-color: #f0f0f0;  
}  
    
#chat-container, #select-container, #local-file-container {
    max-width: 600px;  
    margin: 50px auto;  
    background-color: #fff;  
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
}  

.message {  
    margin-bottom: 10px;  
    padding: 10px;  
    border-radius: 5px;  
}  

.system {  
    background-color: #f5f5f5;  
    color: #555;  
}  

.user {  
    background-color: #007bff;  
    color: #fff;  
}  

.assistant {  
    background-color: #28a745;  
    color: #fff;  
}  

.error {
    background-color: #dc3545;
    color: #fff;
}

.test {
    background-color: #dc9435;
    color: black;
    white-space: pre-wrap;
    font-family: monospace;
}
  
/* Style for dropdown container */
.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  /* Style for dropdown label */
  .dropdown-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  /* Style for dropdown select */
  .dropdown-select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 200px;
  }